<mat-card>
  <mat-card-title>Cadastro como Jogador</mat-card-title>
  <form>
    <label>Informe seu nome: </label>
    <mat-form-field>
      <input matInput placeholder="nickname" name="name">
    </mat-form-field>
    <br>
<!--    <mat-radio-group aria-label="É owner da sala?">-->
<!--      <mat-radio-button value="1">Sim</mat-radio-button>-->
<!--      <mat-radio-button value="2">Não</mat-radio-button>-->
<!--    </mat-radio-group>-->
<!--  </form>-->

  <button mat-raised-button color="primary">
    Salvar
  </button>
    &nbsp;&nbsp;
  <button mat-raised-button color="warn">
    Cancelar
  </button>
  </form>
</mat-card>

